<div class="card-provider">
  <div class="card-provider-infos">
    <h2><%= provider.title %> <%= provider.first_name %> <%=provider.last_name %></h2>
    <h6><%= provider.specialty %></h6>

    <% if provider.shortlisted(current_user) %>
      <%= link_to( image_tag("star_filled.svg"), "", data: {favorite_id: provider.shortlisted(current_user).id}, class: "star", remote: true) %>
    <% else %>
      <%= link_to( image_tag("star_hollow.svg"), provider_shortlists_path(provider), class: "star", remote: true, method: :post) %>
    <% end %>

    <% if @coordinates %>
      <p><%= provider.distance(@coordinates).round(1) %>km</p>
    <% else %>
      <p>4.5km</p>
    <% end %>
    <p class="people-icon"> <%= provider.reviews.count %> <%= image_tag "people.svg" %></p>
  </div>
</div>
