    <div class="provider-info">
      <div class="shortlisted">
        <% if provider.shortlisted(current_user) %>
          <%= link_to "", data: {provider_id: provider.id, favorite_id: provider.shortlisted(current_user).id}, class: "star full", remote: true do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <%= link_to "", data: {provider_id: provider.id, favorite_id: 0}, class: "star empty", remote: true do %>
            <i class="far fa-star"></i>
          <% end %>
        <% end %>
      </div>
      <div class="name">
        <h1> <%= provider.title if provider.title %> <%= provider.first_name %> <%= provider.last_name%> </h1>
        <p> <%= provider.specialty %> </p>
      </div>
      <div class="provider-info-right">

        <% if user_signed_in?  %>
          <% unless current_user.recommended?(provider) %>
            <button class="button-black" data-toggle="modal" data-target="#exampleModal">Recommendation</button>
          <% end %>
        <% else %>
          <div></div>


        <% end %>
      </div>
    </div>


