    <div class="provider-info">
      <div class="shortlisted">
        <% if provider.shortlisted(current_user) %>
          <%= link_to( image_tag("star_filled.svg"), shortlist_path(provider.shortlisted(current_user)), method: :delete) %>
        <% else %>
          <%= link_to( image_tag("star_hollow.svg"), provider_shortlists_path(provider), remote: true, method: :post) %>
        <% end %>
      </div>
      <div class="name">
        <h1> <%= provider.title if provider.title %> <%= provider.first_name %> <%= provider.last_name%> </h1>
        <p> <%= provider.specialty %> </p>
      </div>
      <div class="provider-info-right">
        <button class="button-black">Review</button>
      </div>
    </div>
