    <div class="provider-info">
      <div class="shortlisted">
       <i class="fas fa-star"></i>
      </div>
      <div class="name">
        <h1> <%= provider.title if provider.title %> <%= provider.first_name %> <%= provider.last_name%> </h1>
        <p> <%= provider.specialty %> </p>
      </div>
      <div class="provider-info-right">
        <%= link_to @path_back do%>
          <button class="button-black">Back to search</button>
        <% end %>
      </div>
    </div>
