<div class="container columns-container">
  <div class="show-left">
    <%= render "provider_info", provider: @provider %>
    <%= render "review_cards", provider: @provider %>
  </div>

  <div class="show-right">
    <%= render "map_show", provider: @provider %>
    <%= render "contact_details", provider: @provider %>
    <%= render "recommendations_grid", provider: @provider %>
  </div>
</div>



