
<!-- has to be moved to a reasonable place once layout is done -->
<div class="container nav-show">
  <% if session[:come_from_search] %>
    <div class="show-back">
      <%= link_to "Back to search", @path_back, class: "button-nav" %>
    </div>
  <% end %>
</div>

<div class="container columns-container">
  <div class="show-left">
    <%= render "provider_info", provider: @provider %>
    <%= render "review_cards", provider: @provider %>
  </div>

  <div class="show-right">
    <%= render "map_show", provider: @provider %>
    <%= render "contact_details", provider: @provider %>
    <%= render "recommendations_grid", provider: @provider %>
  </div>
</div>

<%= render "modal", provider: @provider, review: @review  %>

<script>
  document.querySelector(".review-content").addEventListener("input", () => {
    document.querySelector(".button-modal").disabled = false
  })
</script>
