

<div class="container">
  <h1> <%= @provider.title if @provider.title %> <%= @provider.first_name %> <%= @provider.last_name%> </h1>
  <p> <%= @provider.specialty %> </p>
</div>

<%= render "reviews/review_form", provider: @provider, review: @review %>
<% @reviews.each do |review| %>
<%= render "reviews/card", review: review  %>
<% end %>
