<div class="container">
  <div class="container-user mt-120">
    <div class="form mt-80">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: false,
                      placeholder: "E-mail"%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label: false,
                      placeholder: "Password" %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      label: false,
                      placeholder: "Password confirmation" %>
         <% Dir.glob('app/assets/images/avatar/*').map do |path| %>
           <%= image_tag "avatar/#{ File.basename(path) }",style:"height:25px; width:25px" %>
         <% end.reduce(&:+) %>
         <%= f.input :avatar, as: :select, collection: Dir.glob('app/assets/images/avatar/*').map {|path|[image_tag(("avatar/#{ File.basename(path) }")).html_safe,File.basename(path)]}   %>
      </div>
       <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "button-black" %>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

