<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <% Dir.glob('app/assets/images/avatar/*').map do |path| %>
       <%= image_tag "avatar/#{ File.basename(path) }" %>
    <% end.reduce(&:+) %>
    <%= f.input :avatar, as: :select, collection: Dir.glob('app/assets/images/avatar/*').map {|path|[image_tag(("avatar/#{ File.basename(path) }")).html_safe,File.basename(path)]}   %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
