  <% if other %>
    <div class="message-row other">
      <div class="message-card other">
        <div class="message-content">
          <p><%= message.content %> </p>
          <p class="time"> <%= time_ago_in_words(message.created_at) %> </p>
        </div>
        <%= render "user_details", user: message.user, displayed_name: message.user.nickname %>
      </div>
    </div>

  <% else %>
    <div class="message-row own">
      <div class="message-card own">
        <%= render "user_details", user: message.user, displayed_name: "You" %>
        <div class="message-content">
          <p><%= message.content %> </p>
          <p class="time"> <%= time_ago_in_words(message.created_at) %> </p>
        </div>
      </div>
    </div>
  <% end %>


