<div class="container conversations-container">

  <div class="navigation">
    <%= link_to conversations_path do %>
      <button class="button-black"> Go to inbox </button>
    <% end %>
    <div class="participants">
      <%= render "user_details", user: @conversation.other_user(current_user), displayed_name: nil%>
      &
      <%= render "user_details", user: current_user, displayed_name: "You" %>
    </div>
  </div>

  <h1>Your conversation about <%= @conversation.provider.title %>  <%= @conversation.provider.first_name %>  <%= @conversation.provider.last_name %></h1>

  <%= render "new_message_form" %>


  <% @conversation.messages.reverse.each do |message| %>
    <%= render "message_card", message: message, other: message.user != current_user %>
  <% end %>
</div>



