<h1>Your conversation about <%= @conversation.provider.title %>  <%= @conversation.provider.first_name %>  <%= @conversation.provider.last_name %></h1>
<h2> Participants: <%= @conversation.user1.nickname %> <%= @conversation.user2.nickname %> </h2>
<%= render "new_message_form" %>


  <ul>
  <% @conversation.messages.reverse.each do |message| %>
    <li> <%= message.content %> <br> by <%= message.user.email %> </li>
  <% end %>
  </ul>

  <%= link_to "Back to conversation", @conversation %>
  <%= link_to "Back to provider", @conversation.provider %>

