<div class="container-content">
  <div class="container-index">
    <h1>Your Favorites</h1>
    <% if @shortlists.present? %>
      <div class="cards-grid">
        <% @shortlists.each do |shortlist| %>
          <div class="card-shortlist" id=<%= shortlist.id %>>
            <%= link_to provider_path(shortlist.provider) do  %>
                <%= render "shared/card_shortlist", provider: shortlist.provider, user: @user %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>You have no providers in your favorites yet. </p>
      <p> <%= link_to "Search", :root %> for a provider and add them to your favorites! </p>
    <% end %>

  </div>
  <%= render "shared/map_shortlist" %>
</div>




