<!DOCTYPE html>
<html>
  <head>
    <title>Queermed - A list of healthcare providers for LGBTQIAP+ people</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Share your experiences on healthcare providers with your community, get references from real people.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- facebook -->
    <meta property="og:title" content="Queermed - A list of healthcare providers for LGBTQIAP+ people">
    <meta property="og:type" content="website" />
    <meta property=”og:url” content=”http://www.queermed.info” />
    <meta property="og:image" content=" <%= image_url("queermed-facebook.jpg") %> ">
    <meta property="og:description" content="Share your experiences on healthcare providers with your community, get references from real people.">
    <meta property="og:site_name" content="Queermed"/>
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Queermed">
    <meta name="twitter:title" content="Queermed - A list of healthcare providers for LGBTQIAP+ people">
    <meta name="twitter:description" content="Share your experiences on healthcare providers with your community, get references from real people.">
    <meta name="twitter:creator" content="@LeWagonBerlinBatch490">
    <meta name="twitter:image:src" content="queermed-logo.jpg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag asset_path('queermed-favicon.png') %>

  </head>

  <body>
    <%= render 'shared/flashes' %>
    <div class="main-content">
      <%= render 'shared/navbar' %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>


